
.first-section{
    display: flex;
}
.first-section1{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    padding-left: 100px;
    padding-top: 100px;
}
.first-section2{
    width: 80%;
}
.first-section1 h1{
    color: gray;
    font-size: 40px;
}
.first-section1 h4{
    color: gray;
    font-weight: 200;
}
.first-section1 a{
    
    background-image: linear-gradient(#ff0000, orange);
    border-radius: 10px;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 30px;
    color: white;
    font-weight: 400;

}
.imgDiv{
    padding-top: 50px;
}
.first-section2 img{
    padding-top: 30px;
    padding-right: 20px;
    height: 550px;
    width: 600px;

}
